---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Footer.astro";
import EmailSubscribe from "./EmailSubscribe.astro";
---

<div class="ra-footer-subscribe">
    <EmailSubscribe compact />
</div>
<Default {...Astro.props}><slot /></Default>
